{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h2 class="text-center">Tag List</h2>
    <div class="list-group mx-auto" style="max-width: 400px;">
      {% for tag in tag_list %}
        <div class="list-group-item">
          <span class="badge badge-primary">{{ tag.pk }}</span>
          <span class="tag-name">{{ tag.name }}</span>
          <div class="float-right">
            <a href="{% url 'todo:tag-update' tag.pk %}" class="btn btn-warning btn-sm">Update</a>
            <a href="{% url 'todo:tag-delete' tag.pk %}" class="btn btn-danger btn-sm">Delete</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
